<%= link_to "New meal", new_diary_path, class: 'btn btn-primary' %>
<h1>My meals</h1>
<% @entries.each do |entry| %>
  <h1><%= entry.title %></h1>
  <p><%= entry.date %></p>
  <p><%= entry.contents %></p>
<% end %>
